rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Funkcja sprawdzająca, czy użytkownik założył konto i jest zalogowany
    function isAuthenticated() {
      return request.auth != null;
    }

    // 1. Zabezpieczenie kolekcji użytkowników i ról
    match /app_accounts/{accountId} {
      // W wersji produkcyjnej powinno tu być: if isAdmin();
      // Pozwalamy na publiczny odczyt (aby lista kont załadowała się na ekranie logowania!)
      allow read: if true;
      allow write: if isAuthenticated();
    }

    // 2. Zabezpieczenie udostępnionych arkuszy inwentaryzacyjnych
    match /sheets/{sheetId} {
      // Tylko zalogowani użytkownicy aplikacji mogą otwierać i modyfikować pliki
      allow read, write: if isAuthenticated();
      
      // I to samo tyczy się zeskanowanych przedmiotów i części plików wewnątrz danego arkusza
      match /{subcollection=**} {
        allow read, write: if isAuthenticated();
      }
    }

    // 3. Zabezpieczenie globalnych ustawień (np. PIN zapisywany w chmurze)
    match /settings/{document=**} {
      // Tylko zalogowani użytkownicy mogą odczytywać i zapisywać ustawienia Globalne
      allow read, write: if isAuthenticated();
    }

    // 4. Zabezpieczenie powiadomień Real-time (Web Push / Historia)
    match /notifications/{document=**} {
      allow read, write: if isAuthenticated();
    }
  }
}
